@import '../settings/variables';

body {
  color: $color-font;
  font-family: sans-serif;
  margin: 0 auto;
}

a {
  color: $color-highlight;
}

a:hover {
  color: $color-second-base;
}

#content-main {
  padding: 1em;
}