// Colors
$color-base: #0B0033;
$color-second-base: #033B72;
$color-font: #303036;
$color-font-highlight: #fff;
$color-highlight: #FC5130;
$color-shadow: #050401;

// Breakpoints
$small-break: 640px;
$medium-break: 1007px;
$large-break: 1008px;

// Z-indexes
