@import '../settings/variables';

.danger-button {
  background-color: $color-danger;
  border: 2px solid $color-danger;
  color: $color-font-highlight;
  font-size: 1em;
}

.danger-button:hover {
  background-color: $color-white;
  color: $color-danger;
}

.submit-button {
    border: 2px solid $color-highlight;
    color: $color-highlight;
    font-size: 1em;
  }

  .submit-button:hover {
    background-color: $color-base;
    border: 2px solid $color-base;
    color: $color-font-highlight;
  }

  .sign-in-redirect {
    margin: 1em 0;
    text-align: center;
  }