@import '../settings/variables';

.form-container {
  margin: 0 auto;
  max-width: $x-small-break;

  h2 {
    text-align: center;
  }

  form {
    .field {
      input {
        font-size: 1em;
        margin: 0 0 1em 0;
        width: 21em;
      }
    }
  }

  .checkbox {
    width: 1em !important;
  }
}