@import '../settings/variables';

.form-container {
  margin: 0 auto;
  max-width: $x-small-break;

  h2 {
    text-align: center;
  }

  #new_user {
    .field {
      input {
        font-size: 1em;
        margin: 0 0 1em 0;
        width: 21em;
      }
    }
  }

  .checkbox {
    width: 1em !important;
  }

  .submit-button {
    border: 2px solid $color-highlight;
    color: $color-highlight;
    font-size: 1em;
  }

  .submit-button:hover {
    background-color: $color-base;
    border: 2px solid $color-base;
    color: $color-font-highlight;
  }

  .sign-in-redirect {
    margin: 1em 0;
    text-align: center;
  }
}