@import '../settings/variables';

.navbar {
  background-color: $color-base;
  color: $color-font-highlight;
  font-weight: 600;

  a {
    color: $color-font-highlight;
    text-decoration: none;
  }

  a:hover {
    color: $color-highlight;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding: 1em;
    }
  }
}